body {
    background-color: #1F2C38;
    font-family: Arial, sans-serif;
}

h1 {
    color: rgb(241, 241, 241);
    text-align: center;
    margin-top: 20px; 
    margin-bottom: 10px;
    font-size: 1.8rem;
}

header{
    background-color: #050A11;
    color: white;
    width:100%;
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;

}


.imagen {
    background-color: #0E131B;
    width: 100%;
    height: 157px;
    text-align: center;
    padding: 20px 0;
  }

.imagen img {
    max-width: 1149px;
    height: 170px;
    margin-bottom: 20px;
}

.descripcion {
    width: 100%;
    height: 270px;
    background-color: #1f2c38;
    color: white;
 
}

.descripcion{
    background-color:#050A11 ;
}

.descripcion h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size:3rem ;
}

.descripcion p.informacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size:1.3rem ;
}
.descripcion p.miembros{
    font-weight: 800;
    font-size:1.3rem ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.nombres {
    font-weight: 600;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.tareas{
    font-family: Arial, sans-serif; 
    margin: 20px; 
    padding: 15px;
    border-radius: 8px; 
    background-color: #00020c;
    text-align: end;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
;
}

.tareas h2{
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    margin-right: -270px;
    margin-top: 10px;
}

.tareas img{
    margin-right: 550px;
    border-radius: 10px;
    width: 200px;
    margin-top: -87px;
}

.tareas p{
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size:1rem;
    text-align: center;
    margin-top: -100px;
    margin-right: -230px;
}


.contenido {
    display: flex; /* Habilita flexbox */
    flex-direction: column; /* Alinea el contenido en una columna */
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
    padding: 15px;
    background-color:#30A19C;
    border-radius: 10px;
    height: 200px;
    width: 790px;
    padding: 15px;
    margin-left: 40px;
    margin-top: 25px;
}

.contenido p:hover{
    color: rgb(49, 217, 77);
    font-family: Arial, Helvetica, sans-serif;
    font-size:1.1rem;
    text-align: center;
    margin-top: -100px;
    margin-right: -230px; 
}

@media screen and (max-width: 768px){

    .imagen img{
        width: 600px;
        height: 200px;
        margin-top: -25px;
    }

    .tareas{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }

    .contenido {
        width: 600px;
        margin-left: 0px;
        position: relative; /* Esto permite mover los elementos con 'position' */
    }
    
    .contenido p {
        font-size: 0.8rem;
        margin-left: -45px; /* Eliminar los márgenes para que el texto no se desplace */
        margin-top: -10px;
    }
    
    .contenido p:hover {
        font-size: 0.9rem;
        margin-left: -45px; /* Eliminar los márgenes para que el texto no se desplace */
        margin-top: -10px;
    }

    .contenido h2 {
        font-family: 'Arial', sans-serif; /* Corregí el valor de 'font-family' */
        margin-top: 0;
        margin-left: 0;
    }
    
    .contenido img {
        position: absolute; /* Mueve la imagen independientemente del flujo del documento */
        margin-left: 110px;
        margin-top: -10px; /* Ajusta la posición de la imagen sin afectar al texto */
        width: 170px;
    }
}

@media screen and (max-width: 480px){

    h1 {
        font-size: 1.3rem;
    }
    
    .imagen img{
        width: 400px;
        height: 100px;
        margin-top: -25px;
    }

    .imagen{
        height: 80px;
    }

    .descripcion h2 {
        font-size: 1.7rem;
    }

    .descripcion p.informacion{
        font-size: 1rem;
    }


    .nombres p{
        font-size: 0.9rem;
    }

    .tareas{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }

    .contenido {
        width: 300px;
        margin-left: 0px;
        position: relative; /* Esto permite mover los elementos con 'position' */
        height: 250px;
    }
    
    .contenido p {
        font-size: 0.6rem;
        margin-left: -235px; /* Eliminar los márgenes para que el texto no se desplace */
        margin-top: -10px;
    }
    
    .contenido p:hover {
        font-size: 0.65rem;
        margin-left: -235px; /* Eliminar los márgenes para que el texto no se desplace */
        margin-top: -10px;
    }

    .contenido h2 {
        font-family: 'Arial', sans-serif; /* Corregí el valor de 'font-family' */
        margin-top: -90px;
        margin-left: -270px;
        font-size: 2rem;
    }
    
    .contenido img {
        position: absolute; /* Mueve la imagen independientemente del flujo del documento */
        margin-left: 530px;
        margin-top: 140px; /* Ajusta la posición de la imagen sin afectar al texto */
        width: 140px;
    }
}